!!! 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    each sheet in sheets
      link(rel="stylesheet", href=sheet.href, media=sheet.media)
  body
    if sections.length
      nav
        each section in sections
          button(data-tab='#' + section.id) #{section.name}

    !{content}
